.account-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid #bbbdbe;
    border-radius: 10px;
    margin: 25px 0  ;
}

.left-of-card{
    border-right: 1px solid black;
    
}

.left-of-card a{
    text-decoration: none;    
}

.left-of-card  .left-card-item {
    margin: 20px 0;
    padding: 0 25px;
    display: flex;
}

.left-of-card .left-card-item > div {
    margin-right: 35px;
    font-size: 18px;
    color: #585a5c;
}

.left-of-card .left-card-item > div:first-child {
    /* margin-right: 40px; */
    font-size: 25px;
}


.right-of-card{
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
}

.right-of-card .sub-header{
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 20px;
    /* line-height: 16px; */
}
.sub-header > div {
    font-weight: bold;
    font-size: 20px;
}

.sub-header > button {
    background-color: white;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.sub-header > button > span {
    margin-left: 10px;
}

.card-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.card-item-logo{
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    color: hsl(0, 0%, 39%);
    border-radius: 100%;
    background-color: hsla(0, 0%, 95%, 0.815);
    margin-right: 10px;
}

.card-item-name{
    font-weight: bold;
}

.sub-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.sub-card-container > div {
    border-radius: 10px;
    border: 1px solid #bbbdbe;
    padding: 20px;
}

.card-order-container{
    display: flex;
    justify-content: space-between;
}

.card-order{
    color: hsl(0, 0%, 39%);
}

.card-order:nth-child(2){
    text-align: right;
}

.card-order-name{
    font-weight: bold;
    color: black;
}
.card-order-num{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-status{
    /* background-color: red; */
    margin-top: 20px;
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
}

.card-status span:first-child {
    padding-top: 4px;
    font-size: 25px;
    transform: translate(-40%);
}