.navigation-overall{
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(0, 0%, 39%);
    
}

.brand-intro{
    background-color: var(--colorPrimary);
    color:var(--textColor);
    height: 3rem;
    line-height: 3rem;
    /* display: flex; */
}

.bolden-brand-logo{
    font-weight: bold;
}

.nav-container{
    color: hsl(0, 0%, 39%);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.store {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.store-logo{
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    color: hsl(0, 0%, 39%);
    border-radius: 100%;
    background-color: hsla(0, 0%, 95%, 0.815);
    margin-right: 10px;
}

.info-name{
    font-weight: bold;
}


.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu li{
    margin-right:40px ;
}

.nav-menu li:last-child{
    margin-right:0;
}

.menu-item{
    display: flex;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}

.menu-item.actve{
    background-color: rgb(155, 178, 223);
}

.menu-item .icon {
    display: inline-block;
    font-size: 24px;
    margin:0 12px;
} 

.menu-item span{
    display: inline-block;
}

.chevron{
    display: inline-block;
    font-size: 24px;
    margin-right: 12px;
}

.sub-nav{
    display: flex;
    border-radius: 30px;
    align-items: center;
}
.sub-nav span{
    display: inline-block;
    font-weight: bold;
}